.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

#search-pokemon{
    
    height: 200px;
    width: 50%;    
    margin-left:25%;
    margin-top: 7%;
}

#form-list{
    margin-top:30%;

}

#list-button{
    margin-left:40%;

}
